// Buttons

.paratii-button {
  background-color: $color-bluish-purple;
  color: white;
  font-weight: 600;
  padding: 15px 25px 16px;
  text-align: center;
  transition: background-color $anim-time-paint;

  &:hover {
    background-color: $color-purply-blue;
  }

  &--red {
    background-color: $color-lipstick;

    &:hover {
      background-color: $color-lipstick-dark;
    }
  }
}