// Vars
// Animation

$anim-time-paint: .3s;

// Colors

$color-black: #2c2d2d;
$color-white: white;
$color-gray: #f7f7f7;
$color-purple-light: #ceaef8;

$color-violet-blue: #6312cd;
$color-purply-blue: #6812d8;
$color-bluish-purple: #8535ee;
$color-lipstick: #e72061;
$color-lipstick-dark: #b31a4c;


// Sizes

$size-main-section-content-padding: 250px;
$size-main-section-header-margin-bottom: 70px;
$size-main-title-height: 83px;
$size-main-wrapper-width-max: 1200px;

// z-index

$zindex-main-header: 15;
$zindex-main-main: 10;