// Vars
// Colors

$color-black: #2c2d2d;
$color-white: white;
$color-gray: #f7f7f7;
$color-purple-light: #ceaef8;


$color-violet-blue: #6312cd;
$color-purply-blue: #6812d8;
$color-bluish-purple: #8535ee;
$color-lipstick: #e72061;


// Sizes

$size-main-wrapper-width-max: 1200px;
$size-main-title-height: 56px;


// Typography

$font-family: 'sofia-pro', monospace;


// z-index

$zindex-main-header: 15;
$zindex-main-main: 10;