body {
  font-family: $font-family;
  color: $color-black;
}

// Titles

.title-big {
  font-size: 50px; 
}

.title-main {
  font-size: 38px; 
}

.title-small {
  font-size: 28px; 
}

// Texts

.text-big {
  font-size: 24px; 
}

.text-main {
  font-size: 18px;
  line-height: 30px;
}

.text-small {
  font-size: 14px; 
}

.text-tiny {
  font-size: 11px; 
}