body {
  font-family: $font-family;
}

// Titles

.title-big {
  font-size: 50px; 
}

.title-main {
  font-size: 35px; 
}

.title-small {
  font-size: 24px; 
}

// Texts

.text-big {
  font-size: 24px; 
}

.text-main {
  font-size: 18px; 
}

.text-small {
  font-size: 14px; 
}