// Chapters

.chapters {
    background-color: $color-blue-light;
    padding-bottom: 10vw;
    padding-top: $size-height-mainheader;
    position: relative;

    @include screenphablet {
        padding-top: $size-height-mainheader-mobile;
        padding-bottom: 30vw;
    }

    &-title {
        @extend .font-title;
        @extend .padding-left-max;

        margin-bottom: 5vw;
        position: relative;
        z-index: 2;
    }


    //

    &-asset {
        height: 51vw;
        left: -11vw;
        position: absolute;
        top: 9vw;
        width: 50.5vw;
        z-index: 1;

        @include screenphablet {
            bottom: -5vw;
            height: 100vw;
            left: 0;
            top: auto;
            width: 100%;
        }
    }

    &-svg {
        height: 100%;
        width: 100%;
    }


    //

    &-list {
        @extend .clearfix;

        position: relative;
        text-align: center;
        padding: 0 10px;
        z-index: 3;
    }

    &-item {
        float: left;
        height: 28.7vw;
        width: calc(100%/6);

        @include screenphablet {
            height: 78vw;
            margin-bottom: 0;
            width: calc(100%/2);
        }
    }


    //

    &-button {
        backface-visibility: hidden;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        // box-shadow: 10px 10px 5px #000;
        display: block;
        height: 100%;
        overflow: hidden;
        position: relative;
        text-align: left;
        transform: scale(.95);
        transition: all .5s $ease-smooth;

        &:hover {
            transform: scale(1);

            @include screenphablet {
                transform: scale(.95);
            }
        }

        &.open:hover {
            @include screenphablet {
                transform: scale(1);
            }
        }

        &.open {
            animation: shakeAnim .5s $ease-smooth;
        }

        &.green {
            color: #00f0c8;
        }

        &.blue {
            color: #2363c5;
        }
    
        &-info {
            @extend .pos-a-full;

            background-position: 50%;
            background-repeat: no-repeat;
            background-size: cover;
            opacity: 0;
            pointer-events: none;
            transition: opacity .2s linear .2s;
            z-index: 2;

            .open & {
                opacity: 1;
                transition: opacity .2s;
            }

            &-text {
                bottom: 3vw;
                left: 0;
                opacity: 0;
                text-align: center;
                transition: opacity .2s;
                position: absolute;
                width: 100%;

                .open & {
                    opacity: 1;
                    transition: opacity .2s linear .2s;
                }
            }
        }

        &-label {
            font-size: 1.2vw;
            font-weight: 700;
            left: 0;
            position: absolute;
            transform: translate3d(-34%, 174%, 0) rotate(-90deg);
            top: 0;

            @include screenphablet {
                font-size: 4vw;
                left: 2vw;
                transform: translate3d(0, 0, 0) rotate(0);
                top: 2vw;
            }
        }

        &-entry {
            height: 100%;
            margin: 0 auto;
            overflow: hidden;
            position: relative;
            width: 99.9%;
        }

        &-title {
            bottom: 5vw;
            font-weight: 700;
            position: absolute;
            transition: transform 1s $ease-out-expo;
            width: 150%;

            .chapters-button:hover & {
                transform: translate3d(-100%, 0, 0);
                transition: transform 1s $ease-smooth .2s;

                @include screenphablet {
                    transform: translate3d(0, 0, 0);
                }
            }

            &.title-0 {
                font-size: 3vw;
                line-height: 1;
                left: -0.3vw;

                @include screenphablet {
                    font-size: 10vw;
                    left: -1vw;
                }
            }

            &.title-1 {
                font-size: 2.5vw;
                line-height: 0.85;
                left: -0.4vw;
                letter-spacing: 1px;

                @include screenphablet {
                    font-size: 8.2vw;
                    left: -1vw;
                }
            }

            &.title-2 {
                font-size: 1.75vw;
                line-height: 0.9;
                left: -0.2vw;
                letter-spacing: 1px;

                @include screenphablet {
                    font-size: 5.8vw;
                    left: -0.4vw;
                }
            }

            &.title-3 {
                font-size: 1.9vw;
                line-height: 0.9;
                left: -0.3vw;
                letter-spacing: 1px;

                @include screenphablet {
                    font-size: 6vw;
                    left: -0.8vw;
                }
            }

            &.title-4 {
                font-size: 1.6vw;
                line-height: 0.9;
                left: -0.2vw;
                letter-spacing: 1px;

                @include screenphablet {
                    font-size: 5vw;
                    left: -0.5vw;
                }
            }

            &.title-5 {
                font-size: 2.6vw;
                line-height: 0.9;
                left: -0.3vw;
                letter-spacing: 1px;

                @include screenphablet {
                    font-size: 8.5vw;
                    left: -0.9vw;
                }
            }
        }

        &-text {
            @extend .font-text;

            bottom: 5vw;
            left: 0;
            padding: 0 1vw;
            position: absolute;
            transform: translate3d(100%, 0, 0);
            transition: transform 1s $ease-out-expo;
            width: 100;

            @include screenphablet {
                display: none;
            }

            .chapters-button:hover & {
                transform: translate3d(0, 0, 0);
                transition: transform .5s $ease-out-quart .35s;
            }
        }
    }
}