// Discover

.discover {
    @extend .padding-right-main;

    background-color: $color-blue-light;
    float: right;
    padding-bottom: 2vw;
    padding-left: 7.5vw;
    padding-top: 5.5vw;
    position: relative;
    width: 50%;

    @include screenphablet {
        padding-bottom: 60vw;
        padding-left: 14vw;
        padding-top: 15vw;
        width: 100%;
    }

    &-entry {
        position: relative;
        z-index: 2;
    }

    &-title {
        @extend .font-title;

        margin-bottom: 2.1vw;
        position: relative;
        z-index: 2;

        @include screenphablet {
            margin-bottom: 18vw;
        }
    }

    &-item {
        display: block;
        position: relative;

        &-title {
            @extend .font-text-big;

            color: $color-purple-light;
            margin-bottom: 3vw;
            padding-left: 4vw;
            text-decoration: underline;
            transition: color .2s;
    
            @include screenphablet {
                padding-left: 14vw;
            }

            .discover-link:hover & {
                color: $color-green;
            }
        }
    }

    &-link {
        display: block;
    }

    &-time {
        @extend .font-text-big;

        color: $color-green;
        position: absolute;
        width: 2vw;
    
        @include screenphablet {
            font-size: 3.5vw;
        }
    }

    &-svg {
        bottom: -17.1vw;
        height: 17.1vw;
        position: absolute;
        right: 10vw;
        width: 15.6vw;
        z-index: 1;

        &.show-mobile {        
            @include screenphablet {
                bottom: 4vw;
                height: 55vw;
                left: 27%;
                top: auto;
                width: 48vw;
            }
        }
    }
}