// Interviews
//Vars

$size-interviewsthumb-margin-h: 2.5vw;
$size-interviewsthumb-margin-h-min: 1.2vw;

// 

.interviews {
    background-color: $color-blue-light;
    padding-top: $size-height-mainheader;
    position: relative;

    @include screenphablet {
        padding-top: $size-height-mainheader-mobile;
    }

    &-title {
        @extend .font-title;
        @extend .padding-left-max;

        margin-bottom: 5vw;
        position: relative;
        z-index: 2;
    }
}

// Navigation(grid)

.interviews-nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    @include screenphablet {
        grid-template-columns: 1fr; 
    }

    &-item {
        background-color: $color-blue-dark;
        position: relative;
    }

    &-link {
        @extend .clearfix;

        display: flex;
        min-height: 300px;

        .left & {
            flex-direction: row;
        }

        .right & {
            flex-direction: row-reverse;
        }

        .left:nth-child(even) & {
            @include screenphablet {
                flex-direction: row;
            }
        }

        .right:nth-child(odd) & {
            @include screenphablet {
                flex-direction: row-reverse;
            }
        }
    }

    &-entry {
        box-sizing: border-box;
        position: relative;
        width: 50%;

        .left & {
            padding: 3.1vw $size-interviewsthumb-margin-h-min 3.8vw $size-interviewsthumb-margin-h;
            text-align: left;
        }

        .right & {
            padding: 3.1vw $size-interviewsthumb-margin-h 3.8vw $size-interviewsthumb-margin-h-min;
            text-align: right;
        }

        .left:nth-child(even) &,
        .right:nth-child(even) & {
            @include screenphablet {
                padding: 7vw 6vw 5vw 12vw;
                text-align: right;
            }
        }

        .left:nth-child(odd) &, 
        .right:nth-child(odd) & {
            @include screenphablet {
                padding: 7vw 12vw 5vw 6vw;
                text-align: left;
            }
        }
    }

    &-title {
        @extend .font-text;
        
        color: $color-green;
        margin: 0 0 1vw;

        @include screenphablet{
            font-size: 5vw;
        }
    }

    &-text {
        @extend .font-text;

        color: $color-purple-light;
        transition: color .3s;

        .interviews-nav-link:hover & {
            color: $color-green;
        }

        @include screenphablet {
            display: none;
        }
    }

    &-button {
        @extend .font-text;

        bottom: 2.5vw;
        color: $color-green;
        position: absolute;

        @include screenphablet {
            color: $color-purple-light;
            font-size: 5vw;
        }

        .left & {
            left: $size-interviewsthumb-margin-h;
        }

        .right & {
            right: $size-interviewsthumb-margin-h;
        }

        @include screenphablet {
            position: initial;
        }
    }

    &-thumb {
        background-color: $color-blue-intro;
        backface-visibility: hidden;
        overflow: hidden;
        position: relative;
        transition: filter .35s ease-out;
        width: 50%;

        .interviews-nav-link:hover & {
            filter: brightness(1.3);
            transition: filter .6s ease-out;
        }
    }

    &-image {
        @extend .pos-a-full;

        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        transform: scale(1.05);
        transition: transform .65s $ease-out-quad;
        width: 100%;


        .interviews-nav-link:hover & {
            transform: scale(1.1);
            transition: transform 1s $ease-out-quad;
        }
    }

    &-img {
        @extend .pos-a-full;

        visibility: hidden;
    }
}

// Modal
// Modal Window
.interviews-modal {
    @extend .pos-f-tl;

    background: $color-blue-dark;
    height: 100vh;
    transform: translate3d(-100%, 0, 0);
    transition: transform 1.2s $ease-out-expo .5s;
    width: 100vw;
    z-index: 10;

    @include screenphablet {
        overflow-x: hidden;
        overflow-y: scroll;
    }

    &.show {
        transform: translate3d(0, 0, 0);
        transition: transform 1.2s $ease-out-expo;
    }
}

// Modal article

.interviews-article {
    @extend .padding-left-main;
    @extend .padding-right-main;
    @extend .center-content;

    justify-content: left;
    background: $color-blue-dark;
    height: 0;
    overflow: hidden;
    pointer-events: none;
    width: 100%;

    @include screenphablet {
        display: block;
    }

    &.ontop {
        height: 100%;
        padding-top: $size-height-mainheader;
        pointer-events: initial;
        z-index: 2;

        @include screenphablet {
            height: auto;
            padding: $size-height-mainheader-mobile 0;
        }
    }

    &-wrapper {
        position: relative;
    }

    &-thumb {
        float: left;
        min-height: 300px;
        overflow: hidden;
        position: relative;
        width: 30vw;
        z-index: 1;

        @include screenphablet {
            min-height: auto;
            width: 100vw;
        }

        &::before {
            background: $color-blue-dark;
            content: '';
            height: 101%;
            left: -2px;
            position: absolute;
            top: -2px;
            transition: transform .55s $ease-smooth;
            width: 101%;
            z-index: 2;

            .active & {
                transform: translate3d(100%, 0, 0);
                transition: transform .95s $ease-smooth .8s;
            }
        }
    }

    &-image {
        display: block;
        width: 100%;
    }

    &-gif {
        @extend .pos-a-full;

        z-index: 1;
    }

    &-image,
    &-gif {
        transform: scale(.97);
        -webkit-backface-visibility: hidden;

        @include screenphablet {
            transform: scale(1);
        }
    }

    &-entry {
        @extend .clearfix;

        float: left;
        opacity: 0;
        padding: .8vw 0 0 1.7vw;
        transition: opacity .35s $ease-smooth;
        width: 28vw;

        @include screenphablet {
            padding: 5vw 10vw 0;
            width: 100vw;
        }

        .active & {
            opacity: .999;
            transition: opacity .4s $ease-smooth 1.4s;
        }
    }

    &-title {
        @extend .font-text-bigger;

        color: $color-green;
        display: block;
        font-weight: 300;

        @include screenphablet {
            font-size: 6vw;
            line-height: 1.2;
            padding-right: 12vw;
        }
    }

    &-social {
        display: block;
        margin: .2vw 0 1vw;

        @include screenphablet {
            margin: 1.6vw 0 4.7vw;
        }

        &-item {
            display: inline-block;
            vertical-align: top;

            @include screenfullhd {
                margin-right: .3vw;
            }
        }

        &-link {
            @extend .font-source;

            border: 1px solid #2a2b5d;
            border-radius: 2px;
            color: $color-purple-light;
            display: block;
            font-size: .9vw;
            padding: .1vw .5vw;
            transition: border .3s, color .2s;
            white-space: nowrap;

            @include screenphablet {
                border-radius: 1px;
                font-size: 3.5vw;
                padding: 0.4vw 2vw;
            }

            &:hover {
                border-color: $color-green;
                color: $color-green;
            }
        }

        &-svg {
            height: 100%;
            transition: transform .4s $ease-smooth; 
            width: 100%;

            .interviews-article-social-link:hover & {
                transform: scale(.95);
            }

            path {
                fill: $color-green;
                transition: fill .3s;

                .interviews-article-social-link:hover & {
                    fill: $color-purple-light;
                }
            }
        }
    }

    &-subtitle {
        @extend .font-text-medium;

        font-weight: 400;
        margin-bottom: 2vw;

        @include screenphablet {
            font-size: 4vw;
            line-height: 1.4;
            margin-bottom: 7vw;
        }
    }

    &-text {
        @extend .font-text-medium;

        @include screenphablet {
            font-size: 4vw;
            line-height: 1.4;
        }
    }
}


// Button close

.interviews-button-back {
    @extend .button-text;

    height: 2vw;
    right: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    transition: opacity .3s, transform .35s $ease-smooth; 
    top: .8vw;
    width: 2vw;
    z-index: 3;

    @include screenphablet {
        height: 10vw;
        left: auto;
        right: 9vw;
        top: 116vw;
        width: 10vw;
    }

    .active & {
        opacity: 1;
        pointer-events: initial;
        transition: opacity .3s linear 1.5s, transform .35s $ease-smooth;
    }

    &-svg {
        height: 100%;
        transition: transform .4s $ease-smooth; 
        width: 100%;

        .interviews-button-back:hover & {
            transform: scale(.95);
        }

        path {
            stroke: $color-green;
            transition: stroke .3s;

            .interviews-button-back:hover & {
                stroke: $color-purple-light;
            }
        }
    }
}


