// Links

.aroundtheblock-aside {
    background-color: $color-blue-dark;

    &-list {
        text-align: center;
    }

    &-item {
        display: inline-block;
        width: 8vw;

        @include screenphablet {
            width: 15vw;
        }
    }

    &-link {
        display: block;
    }

    &-svg {
        width: 50%;
    }
}