// Extends

// Layouts

.center-content {
    align-items: center;
    display: flex;
    justify-content: center;
}

// Main margin

.padding-left-min {
    padding-left: $size-left-nav-button;
}
.padding-left-main {
    padding-left: ($size-left-logo - 2.5vw);

    @include screenphablet {
      padding-left: 10vw;
    }
}
.padding-left-max {
    padding-left: $size-left-logo;

    @include screenphablet {
      padding-left: 10vw;
    }
}

.padding-right-min {
    padding-right: $size-left-nav-button;
}
.padding-right-main {
    padding-right: ($size-left-logo - 2.5vw);

    @include screenphablet {
      padding-right: 10vw;
    }
}
.padding-right-max {
    padding-right: $size-left-logo;

    @include screenphablet {
      padding-right: 10vw;
    }
}


// Hovers

.hover-opacity {
  transition: opacity .3s;

  &:hover {
    opacity: .5;
  }
}

// Block

.full-block {
  display: block;
  height: 100%;
  width: 100%;
}

.full-wh {
  height: 100%;
  width: 100%;
}



// Positions
// Position absolute

.pos-a-full {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.pos-a-middle {
   left: 50%; 
   position: absolute;
   top: 50%; 
   transform: translate3d(-50%, -50%, 0); 
}

.pos-a-middle-v {
   position: absolute;
   top: 50%; 
   transform: translateY(-50%); 
}

// Position fixed

.pos-f-tl {
  left: 0;
  position: fixed;
  top: 0;
}
