// Nav, Subnav and navlang

//

$size-main-nav-mobile-top: 52px;

// nav

.main-nav {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;

  @include screenTablet {
    display: block;
    height: calc(100vh - #{$size-main-nav-mobile-top});
    left: 0;
    opacity: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    pointer-events: none;
    padding-bottom: 30px;
    position: absolute;
    transition: opacity $anim-time-repaint;
    top: $size-main-nav-mobile-top;
    width: 100vw;
  };

  .button-telegram {
    margin-left: 30px;
  }

  .nav-open & {
    @include screenTablet {
      opacity: 1;
      pointer-events: initial;
      transition: opacity $anim-time-repaint linear .3s;
    };

    .button-telegram {
      margin: 0 0 30px 30px;
    }
  }

  &-list {
    display: flex;

    @include screenTablet {
      flex-direction: column;
    }
  }

  &-item {
    margin-left: 30px;
    
    @include screenTablet {
      margin-left: 15px;
    };
    
    @include screenTablet {
      margin: 0 30px;
    };
  }

  &-fake-link,
  &-link {
    color: $color-white;
    display: block;
    font-size: 0.9rem;
    font-weight: $font-regular;
    height: $size-main-title-height;
    line-height: $size-main-title-height;
    letter-spacing: 0.4px;
    transition: color $anim-time-repaint;
    @include screenTablet {
      color: $color-black;
      font-size: 0.9rem;
      height: $size-main-title-height-mobile;
      line-height: $size-main-title-height-mobile;
    };

    .out-of-top & {
      color: $color-black;
    }

    .campaign-theme & {
      color: $color-campaign-text;
    }
  }

  &-link {
    &:hover {
      color: $color-purple-light;
    }
  }
}

// subnav

.main-subnav {

  &-holder {
    cursor: pointer;
    position: relative;
  }

  @extend .pos-a-b;

  background-color: $color-white;
  border-radius: 4px;
  box-shadow: 0px 0px 20px 0px $box-shadow-color;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transform: translate3d(0, 100%, 0);
  transition: opacity $anim-time-repaint;
  z-index: $zindex-main-subnav;

  .main-subnav-holder:hover & {
    opacity: 1;
    pointer-events: initial;
  }

  @include screenTablet {
    box-shadow: initial;
    position: relative;
    transform: translate3d(0, 0, 0);
  }

  .nav-open & {
    opacity: 1;
    pointer-events: initial;
  }

  &-list {
    display: flex;
    flex-direction: column;
  }

  &-link {
    @extend .text-small;

    color: $color-black;
    display: block;
    padding: 20px 20px 20px 20px;
    transition: color $anim-time-repaint;
    white-space: nowrap;

    &:hover {
      color: $color-lipstick;
    }

    @include screenTablet {
      font-size: 0.9rem;
      height: $size-main-title-height-mobile;
      line-height: $size-main-title-height-mobile;
      padding-bottom: 0;
      padding-top: 0;
    }
  }
}

//


.nav-lang {
  display: flex;
  flex-direction: row;
  margin: 0 0 0 30px;

  &-space {
    font-weight: $font-bold;
    text-align: center;
    width: 14px;
  }

  &-button {
    color: $color-white;
    font-size: 12px;
    font-weight: $font-regular;
    opacity: .5;
    text-align: center;
    text-transform: uppercase;
    transition: opacity $anim-time-repaint;
    width: 20px;

    .out-of-top & {
      color: $color-black;
    }

    @include screenTablet {
      color: $color-black;
    }

    .campaign-theme & {
      color: $color-campaign-text;
    }

    &.active {
      font-weight: $font-bold;
      opacity: 1;
    }
  }
}
