// About

//

$zindex-paratii-about-after: 1;
$zindex-paratii-about-bg: 2;
$zindex-paratii-about-assets: 3;
$zindex-paratii-about-small: 4;
$zindex-paratii-about-content: 5;
$zindex-paratii-about-buttons: 6;

//

.paratii-about {
  align-items: center;
  color: white;
  display: flex;
  height: 80vh;
  min-height: 711px;
  overflow: hidden;
  position: relative;

  //

  &-bg {
    @extend .pos-a-t;

    background-image: linear-gradient(to bottom,$color-violet-blue, #3f0e80);
    height: 100%;
    left: -220px;
    min-width: 1000px;
    transform: skew(-45deg);
    width: 92%;
    z-index: $zindex-paratii-about-bg;

    &::before {
      @extend .full-block;

      background: url('../images/bg-pattern.png');
      content: '';
    }
  }

  &::after {
    @extend .pos-a-t;

    background-image: linear-gradient(to bottom,$color-purply-blue, #3f0e80);
    content: '';
    height: calc(100% - 15px);
    left: 0;
    width: 100%;
    z-index: $zindex-paratii-about-after;
  }

  //

  &-content {
    position: relative;
    z-index: $zindex-paratii-about-content;
  }

  &-title {
    @extend .title-big;

    max-width: 350px;
    margin: 0 0 30px;
  }

  &-text {
    @extend .text-main;

    max-width: 500px;
  }

  //

  &-buttons {
    display: flex;
    margin: 70px 0 0;
    position: relative;
    z-index: $zindex-paratii-about-buttons;

    .paratii-button {
      margin-right: 25px;
    }
  }

  //

  &-small {
    @extend .pos-a-b;
    @extend .text-tiny;

    max-width: 480px;
    right: 20px;
    transform: translate3d(0, 200%, 0);
    z-index: $zindex-paratii-about-small;
  }

  //

  &-asset {
    @extend .pos-a-h;

    background: url('../svgs/paratii-about.svg') no-repeat 50% 50%;
    height: 1000px;
    left: 200px;
    transform: translate3d(0, -55%, 0);
    width: 1520px;
    z-index: $zindex-paratii-about-assets;
  }
}