// Audiences

.paratii-audiences {
  padding-bottom: 150px;

  @include screenTablet {
    padding-bottom: 133px;
  }

  @include screenPhablet {
    padding-bottom: 125px;
  }

  @include screenMobile {
    padding-bottom: 125px;
  }

  &-list {
    display: flex;
    justify-content: space-between;

    @include screenPhablet {
      flex-direction: column;
    }

    .paratii-audiences & {
      margin-bottom: 60px;
    }
  }

  &-item {
    border: solid 1px rgba(64, 14, 130, 0.28);
    border-radius: 4px;
    flex: 0 0 31%;
    overflow: hidden;

    @include screenPhablet {
      flex: initial;
      margin-bottom: 40px;
      width: 100%;
    }

    @include screenMobile {
      width: 100%;
    }

    @include screenMobileMax {
      width: 100%;
    }

    //
    
    &-icon {
      display: block;
      height: 170px;
      margin: 40px auto 0;

      @include screenMobile {
        height: 110px;
      }
    }

    &-svg {
      @extend .full-block;

      fill: $color-purple-light;
    }

    //

    &-content {
      min-height: 370px;
      padding: 0 32px;
      text-align: center;

      @include screenTablet {
        min-height: 420px;
      }

      @include screenPhablet {
        min-height: initial;
        margin-bottom: 40px;
      }

      @include screenPhablet {
        min-height: initial;
        margin-bottom: 40px;
      }
    }

    &-title {
      @extend .text-big;

      margin: 0 0 20px;
    }

    &-text {
      @extend .text-main;

      @include screenMobileMax {
        font-size: .5em;
      }
    }

    //

    &-link {
      @extend .paratii-button;
      @extend .text-main;

      display: block;
      padding: 25px 25px 28px;
      width: 100%;
    }
  }
}