// Components

$size-paratii-components-asset--1: 480px;

//

.paratii-components {

  &-content {
    padding: 100px 0 ;

    &--color {
      background-color: $color-bluish-purple;
      color: $color-white;
      margin: 80px 0;
    }

    &-wrapper {
      display: flex;
      position: relative;

      .paratii-components-content--color & {
        flex-direction: row-reverse;
      }
    }
  }

  //

  &-entry {
    width: 46%;

    &-title {
      @extend .title-small;

      margin: 0 0 20px;
    }

    &-text {
      @extend .text-main;
    }
  }

  //

  &-asset {
    background: no-repeat 50% 50%;
    background-size: cover;
    right: 0;
    position: absolute;
    top: 50%;
    transform: translate3d(0, -50%, 0);

    .paratii-components-content--color & {
      left: 0;
      right: auto;
    }

    &--0 {
      background-image: url('../svgs/paratii-the-protocol.svg');
      height: 570px;
      width: 630px;
    }

    &--1 {
      background-image: url('../svgs/paratii-the-token.svg');
      background-color: white;
      border: 2px dotted $color-purple-light;
      border-radius: 100%;
      box-shadow: 0px 0px 20px 0px rgba(46, 18, 84, .1);
      height: $size-paratii-components-asset--1;
      width: $size-paratii-components-asset--1;
    }

    &--2 {
      background-image: url('../svgs/paratii-the-player.svg');
      height: 570px;
      width: 630px;
    }
  }

  &-svg {
    @extend .full-block;
  }

  use {
    @extend .full-block;   
  }
}