// Cover

.paratii-cover {
  @extend .full-block;

  background: $color-white;
  left: 0;
  position: fixed;
  top: 0;
  transition: opacity $anim-time-paint;
  z-index: $zindex-main-cover;

  .hide-cover & {
    opacity: 0;
    pointer-events: none;
  }
}