// Features

.paratii-features {
  background: $color-gray;

  &-wrapper {
    margin: 120px 0 0;
    position: relative;
  }

  &-list {
    @extend .pos-a-t;

    left: 0;
    width: 100%;
  }

  &-item {
    @extend .text-small;

    left: 50%;
    position: absolute;

    &--0 {
      top: 97px;
      transform: translate3d(200px, 0, 0);
      width: 250px;
    }

    &--1 {
      top: 196px;
      transform: translate3d(388px, 0, 0);
      width: 250px;
    }

    &--2 {
      top: 240px;
      transform: translate3d(-582px, 0, 0);
      width: 250px;
    }

    &--3 {
      top: -62px;
      transform: translate3d(70px, 0, 0);
      width: 250px;
    }

    &--4 {
      top: -51px;
      transform: translate3d(-330px, 0, 0);
      width: 250px;
    }

    &--5 {
      top: 490px;
      transform: translate3d(-302px, 0, 0);
      width: 250px;
    }
  }

  //

  &-asset {
    background: url('../svgs/paratii-features.svg') no-repeat 50% 50%;
    display: block;
    height: 571px;
    margin: 0 auto 120px;
    max-width: 959px;
    width: 100%;
  }
}