// On the news

.paratii-onthenews {
  &-buttons {
    display: flex;
    margin: 30px 0 0;
  }

  &-button {
    @extend .hide-text-indent;

    background: transparent no-repeat 50% 50%;
    background-size: contain;
    margin-right: 30px;
    height: 70px;
    transition: opacity $anim-time-paint;
    width: 170px;

    &:hover {
      opacity: $anim-opacity-value;
    }
  }
}