// Partners(friend of, on the news...)

.paratii-partners {
  &-buttons {
    display: flex;
    margin: 30px 0 0;
  }

  &-button {
    @extend .hide-text-indent;

    background: transparent no-repeat 50% 50%;
    background-size: contain;
    margin-right: 30px;
    height: 70px;
    transition: opacity $anim-time-paint;
    width: 170px;

    &:hover {
      opacity: $anim-opacity-value;
    }

    &--epocanegocios {
      background-image: url('../images/on-the-news/logo-epocanegocios.png');
    }

    &--criptomoedasfacil {
      background-image: url('../images/on-the-news/logo-criptomoedasfacil.png');
    }

    &--tecmundo {
      background-image: url('../images/on-the-news/logo-tecmundo.png');
    }

    &--olhardigital {
      background-image: url('../images/on-the-news/logo-olhardigital.png');
    }

    &--decentral {
      background-image: url('../images/on-the-news/logo-decentral.png');
    }
  }
}