// People

//

$zindex-paratii-people-avatar-shadow: 2;
$zindex-paratii-people-avatar-image: 1;

//

.paratii-people {
  overflow: hidden;

  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: calc(100% + 70px);
  }

  &-item {
    flex: 0 0 151px;
    margin: 0 70px 65px 0;
    overflow: hidden;
    text-align: center;

    //

    &-avatar {
      border-radius: 100%;
      margin: 0 auto;
      overflow: hidden;
      position: relative;
      width: 100%;

      &::before {
        content: '';
        display: block;
        padding-top: 100%;
      }

      &::after {
        @extend .full-block;
        @extend .pos-a-t;

        border-radius: 100%;
        box-shadow: inset 0 3px 7px 0 $box-shadow-color;
        content: '';
        z-index: $zindex-paratii-people-avatar-shadow;
      }
    }

    &-image {
      @extend .full-block;
      @extend .pos-a-b;

      right: 0;
      z-index: $zindex-paratii-people-avatar-image;
    }

    //

    &-name {
      @extend .text-main;

      font-weight: $font-regular;
      margin: 15px 0 0;
    }

    &-jobtitle {
      @extend .text-tiny;

      color: $color-bluish-purple;
      margin: 0 0 14px;
      text-transform: uppercase;
    }

    &-resume {
      @extend .text-small;
      // @extend .visually-hidden;
    }
  }
}