// Roadmap

//

$size-paratii-roadmap-item-date-icon: 36px;
$size-paratii-roadmap-item-bottom: 30px;

//

.paratii-roadmap {
  background: $color-bluish-purple url('../images/bg-pattern.png');
  overflow: hidden;
  padding-bottom: 80px;
  position: relative;

  @include screenTablet {
    padding-bottom: 25px;
  }

  @include screenMobile {
    padding: 90px 0 0;
  }

  @include screenMobileMax {
    padding-bottom: 40px;
  }

  &::after {
    @extend .pos-a-b;

    background: $color-white;
    content: '';
    height: 415px;
    left: 0;
    width: 100%;
    z-index: 1;

    @include screenMobile {
      height: 400px;
    }

    @include screenMobileMax {
      height: 270px;
    }
  }

  //

  &-content {
    position: relative;
  }

  //

  &-path {
    background: url('../svgs/paratii-roadmap-path.svg') no-repeat 50% 50%;
    fill: $color-purple-light;
    height: 1438px;
    left: -286px;
    position: absolute;
    top: 61px;
    width: 1550px;
    z-index: 3;

    @include screenTablet {
      display: none;
    }

    @media (max-width: 1169px) {
      display: none;
    }

    &:before {
      background: $color-white;
      border-radius: 10px;
      content: '';
      height: 7px;
      left: 50%;
      position: absolute;
      top: 344px;
      transform: translate3d(-72%, 0, 0);
      width: 100%;
    }
  }


  //

  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
    position: relative;
    z-index: 4;

    @include screenTablet {
      justify-content: space-evenly;
    }
  }

  &-item {
    background: $color-white;
    border-radius: 4px;
    box-shadow: 0px 0px 20px 0px $box-shadow-color;
    color: $color-black;
    flex-basis: 215px;
    margin-bottom: 249px;
    position: relative;
    text-align: center;

    @include screenTablet {
      margin: 0 1% 160px;
    }

    @include screenPhablet {
      flex-basis: 31%;
      height: auto;
    }

    @include screenMobile {
      flex-basis: 47.5%;
    }

    @include screenMobileMax {
      flex-basis: 100%;
      margin: 0 0 150px;
    }

    // Compose bottom arrow

    &::before,
    &::after, {
      @extend .pos-a-b;

      background: $color-white;
      content: '';
      height: $size-paratii-roadmap-item-bottom;
    }

    &::before {
      border-radius: 4px;
      left: 0;
      width: 100%;
      z-index: 2;
    }

    &::after {

      box-shadow: 0px 0px 20px 0px rgba(46, 18, 84, .1);
      left: 50%;
      transform: rotate(45deg) translate3d(0, 20px, 0);
      width: 30px;
      z-index: 1;
    }

    //
    
    &-icon {
      background: no-repeat 50% 50%;
      background-size: cover;
      display: block;
      height: 147px;
      margin: 60px auto 30px;
      width: 100%;

      @include screenPhablet {
        height: 110px;
        margin: 40px auto 20px;
        width: 73%;
      }

      @include screenMobile {
        height: 145px;
        margin: 40px auto 20px;
      }

      @include screenMobileMax {
        height: 105px;
        margin: 20px auto 0px;
        width: 50%;
      }

      @for $i from 0 through 9 {
        &--#{$i} {
          background-image: url('../svgs/paratii-roadmap-icon-#{$i}.svg');
        }
      }
    }

    &-svg {
      @extend .full-block;

      fill: $color-purple-light;
    }

    //

    &-text {
      @extend .text-small;

      font-weight: $font-bold;
      height: 110px;
      padding: 0 20px ($size-paratii-roadmap-item-bottom + 10px);

      @include screenTablet {
        height: initial;
      }
    }

    &-date {
      @extend .text-main;
      @extend .pos-a-b;

      color: $color-white;
      font-weight: $font-bold;
      transform: translate3d(0, 120px, 0);
      width: 100%;
      z-index: 3;

      // @include screenMobile {
      //   transform: translate3d(0, 120px, 0);
      // }

      .paratii-roadmap-item--future & {
        color: $color-purply-blue;
      }

      &-icon {
        background: $color-white;
        border-radius: 100%;
        display: block;
        height: $size-paratii-roadmap-item-date-icon;
        margin: 0 auto 10px;
        position: relative;
        width: $size-paratii-roadmap-item-date-icon;

        &::before {
          @extend .pos-a-h;
          @extend .full-block;

          background: $color-purply-blue;
          border-radius: 100%;
          content: '';
          left: 50%;
          transform: scale(.48) translate3d(-50%, -50%, 0);
          transform-origin: left top;
        }

        .paratii-roadmap-item--past & {
          &::before {
            display: none;
          }
        }

        .paratii-roadmap-item--future & {
          background: $color-purply-blue;

          &::before {
            background: $color-white;
          }
        }
      }
    }
  }
}