// Videos

.paratii-videos {
  padding-bottom: 150px;

  &-list {
    display: flex;
    justify-content: space-between;
    margin: 65px 0 0;
  }

  &-item {
    border: solid 1px rgba(64, 14, 130, 0.28);
    border-radius: 4px;
    flex: 0 0 31%;

    height: 223px;
  }
}