// Videos

.paratii-videos {
  padding-bottom: 150px;

  @include screenPhablet {
    padding-bottom: 100px;
  }

  &-list {
    display: flex;
    justify-content: space-between;

    @include screenPhablet {
      flex-direction: column;
    }
  }

  &-item {
    border: solid 1px rgba(64, 14, 130, 0.28);
    border-radius: 4px;
    flex: 0 0 31%;
    height: 223px;

    @include screenDesktop {
      height: 198px;
    }

    @include screenPhablet {
      flex: 0 0 100%;
      height: 380px;
      margin-bottom: 40px;
    }

    @include screenMobile {
      height: 310px;
    }

    @include screenMobileMax {
      height: 170px;
    }
  }
}