// Header

.main-header {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $zindex-main-header;

  &-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 65px 0 0;
  }
}


// Logo

.main-title {
  height: $size-main-title-height;
  width: 225px;

  &-link {
    @extend .full-block;

    color: $color-white;
  }

  &-svg {
    @extend .full-block;

    fill: $color-white;
    transition: fill $anim-time-paint;

    .main-title-link:hover & {
      fill: $color-purple-light;
    }
  }
}


// Nav

.main-nav {
  &-list {
    display: flex;
  }

  &-item {
    margin-left: 30px;
  }

  &-link {
    color: white;
    font-size: 16px;
    font-weight: 200;
    height: $size-main-title-height;
    line-height: $size-main-title-height;
    letter-spacing: 0.4px;
    transition: color $anim-time-paint;

    &:hover {
      color: $color-purple-light;
    }
  }
}