// Main

//

.paratii-main {
  position: relative;
  z-index: $zindex-main-main;
}


//

.main-social {
  &-list {
    display: flex;
  }

  &-item {
    margin-left: 15px
  }

  &-link {
    display: block;
  }

  &-svg {
    display: block;
    fill: $color-white;
    height: $size-main-social-icon;
    transition: opacity $anim-time-paint;
    width: $size-main-social-icon;

    &:hover {
      opacity: .5;
    }
  }

}


// Section

.main-section {
  color: $color-black;
  padding-top: 120px;

  @include screenMobile {
    padding-top: 90px;
  }

  &--color {
    color: $color-white;
  }

  //

  &-wrapper {
    margin: 0 auto;
    max-width: $size-main-wrapper-width-max + 40px;
    padding: 0 40px;
    position: relative;
    width: 100%;

    @include screenMobile {
      padding: 0 30px;
    }
  }

  //

  &-header {
    display: flex;
    margin-bottom: $size-main-section-header-margin-bottom;

    @include screenPhablet {
      flex-direction: column;
    }

    &--no-margin {
      margin-bottom: 0;
    }
  }

  // Title and subtitle

  &-title {
    @extend .text-big;

    font-weight: $font-bold;
    flex: 0 0 $size-main-section-content-padding;
   
    @include screenPhablet {
      flex: initial;
      margin-bottom: 10px;
    }


    &::before {
      background-color: $color-purply-blue;
      content: '';
      display: block;
      height: 9px;
      margin: 0 0 10px;
      width: 62px;

    }

    .main-section--color & {
      &::before {
        background-color: $color-white;
      }
    }
  }

  &-subtitle {
    @extend .title-main;
  }

  //

  &-content {
    padding-left: $size-main-section-content-padding;

    @include screenPhablet {
      padding-left: 0;
    }

    &--with-margin {
      margin-bottom: $size-main-section-header-margin-bottom;
    }

    &--no-padding {
      padding: 0;
    }

    &-title {
      @extend .title-small;
    }

    &-text {
      @extend .text-main;
    }
  }

  // -call its a block with title and/or text + button

  &-call {
    align-items: center;
    display: flex;
    justify-content: space-between;

    @include screenPhablet {
      align-items: left;
      flex-direction: column;
    }

    .paratii-button {
      @include screenPhablet {
        margin-top: 20px;
      }
    }
  }
}


// Colorful section

.main-color-section {
  color: $color-white;
  overflow: hidden;
  padding: 50px 0;
  position: relative;

  &-wrapper {
    padding-right: 15%;
    position: relative;
    z-index: 2;
  }

  &-button {
    margin-left: 40px;

    @include screenPhablet {
      display: table;
      margin: 20px 0 0;
    }
  }

  &-backgrounds {
    @extend .pos-a-t;
    @extend .full-block;

    left: 0;
    z-index: 1;
  }

  &-bg {
    height: 100%;
    position: absolute;
    transform: skew(-45deg);
    top: 0;
    width: 100%;

    &::before {
      @extend .full-block;

      background: url('../images/bg-pattern.png');
      content: '';
    }

    &-0 {
      background-image: linear-gradient(to bottom, $color-lipstick, $color-lipstick-dark);
      left: -335px;
      z-index: 2;

      @include screenDesktop {
        left: -195px;
      }

      @include screenTablet {
        left: -145px;
      }

      @include screenPhablet {
        left: -115px;
      }

      @include screenMobile {
        left: -90%;
        width: 200%;
      }
    }

    &-1 {
      @extend .pos-a-t;

      background-image: linear-gradient(to bottom, $color-violet-blue, #3f0e80);
      height: 90%;
      right: -50%;
      z-index: 1;

      @include screenDesktop {
        right: -200px;
      }

      @include screenTablet {
        right: -140px;
      }
    }

    &-2 {
      @extend .pos-a-t;

      background-image: linear-gradient(38deg, #97139d, #931593);
      height: 90%;
      right: 160px;
      z-index: 1;

      @include screenDesktop {
        right: 40px;
      }

      @include screenTablet {
        right: -20px;
      }

      @include screenPhablet {
        right: -30px;
      }

      @include screenMobile {
        right: -100px;
      }
    }

    &-3 {
      @extend .pos-a-t;

      background-image: linear-gradient(38deg, #b70f75, #bb1576);
      height: 90%;
      right: 250px;
      z-index: 1;

      @include screenDesktop {
        right: 110px;
      }

      @include screenTablet {
        right: 60px;
      }

      @include screenPhablet {
        right: 40px;
      }

      @include screenMobile {
        right: -75px;
      }
    }
  }
}