// Main

.paratii-main {
  position: relative;
  z-index: $zindex-main-main;
}


// Section

.main-section {
  color: $color-black;
  padding: 120px 0 150px;

  &--color {
    color: $color-white;
  }

  //

  &-wrapper {
    margin: 0 auto;
    max-width: $size-main-wrapper-width-max;
    position: relative;
    width: 100%;
  }

  //

  &-header {
    display: flex;
    margin-bottom: 90px
  }

  //

  &-title {
    @extend .text-big;

    font-weight: 600;
    flex-basis: $size-main-section-content-padding;

    &::before {
      background-color: $color-purply-blue;
      content: '';
      display: block;
      height: 9px;
      margin: 0 0 10px;
      width: 62px;

    }

    .main-section--color & {
      &::before {
        background-color: $color-white;
      }
    }
  }

  &-subtitle {
    @extend .title-main;
  }

  //

  &-content {
    padding-left: $size-main-section-content-padding;

    &--no-padding {
      padding: 0;
    }

    &-title {
      @extend .title-small;
    }

    &-text {
      @extend .text-main;
    }
  }
}