// Main

.paratii-main {
  position: relative;
  z-index: $zindex-main-main;
}


// Section

.main-section {
  color: $color-black;
  padding: 100px 0 80px;

  &--color {
    color: $color-white;
  }

  &-wrapper {
    margin: 0 auto;
    max-width: $size-main-wrapper-width-max;
    position: relative;
    width: 100%;
  }

  //

  &-title {
    @extend .title-small;

    left: 0;
    position: absolute;
    top: 0;

    &::before {
      background-color: $color-purply-blue;
      content: '';
      display: block;
      height: 9px;
      margin: 0 0 20px;
      width: 62px;
    }
  }

  &-subtitle {
    @extend .title-main;
  }

  //

  &-content {
    padding-left: 250px;

    &--no-padding {
      padding: 0;
    }

    &-title {
      @extend .title-small;
    }

    &-text {
      @extend .text-main;
    }
  }
}