// Nav and Subnav

//

$size-main-nav-mobile-top: 62px;

// nav

.main-nav {

  @include screenMobile {
    height: calc(100vh - #{$size-main-nav-mobile-top});
    left: 0;
    opacity: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    pointer-events: none;
    padding-bottom: 30px;
    position: absolute;
    transition: opacity $anim-time-repaint;
    top: $size-main-nav-mobile-top;
    width: 100vw;
  };

  .openNav & {
    @include screenMobile {
      opacity: 1;
      pointer-events: initial;
      transition: opacity $anim-time-repaint linear .3s;
    };
  }

  &-list {
    display: flex;

    @include screenMobile {
      flex-direction: column;
    }
  }

  &-item {
    margin-left: 30px;
    
    @include screenPhablet {
      margin-left: 15px;
    };
    
    @include screenMobile {
      margin: 0 30px;
    };
  }

  &-link {
    color: white;
    display: block;
    font-size: 16px;
    font-weight: $font-regular;
    height: $size-main-title-height;
    line-height: $size-main-title-height;
    letter-spacing: 0.4px;
    transition: color $anim-time-repaint;
    
    @include screenMobile {
      color: $color-black;
      font-size: 16px;
      height: $size-main-title-height-mobile;
      line-height: $size-main-title-height-mobile;
    };

    .out-top & {
      color: $color-black;
    }

    &:hover {
      color: $color-purple-light;
    }
  }
}

// subnav

.main-subnav {

  &-holder {
    cursor: pointer;
    position: relative;
  }

  @extend .pos-a-b;

  background-color: $color-white;
  border-radius: 4px;
  box-shadow: 0px 0px 20px 0px $box-shadow-color;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transform: translate3d(0, 100%, 0);
  transition: opacity $anim-time-repaint;
  z-index: $zindex-main-subnav;

  .main-subnav-holder:hover & {
    opacity: 1;
    pointer-events: initial;
  }

  @include screenMobile {
    box-shadow: initial;
    opacity: 1;
    pointer-events: initial;
    position: relative;
    transform: translate3d(0, 0, 0);
  }

  &-list {
    display: flex;
    flex-direction: column;
  }

  &-link {
    @extend .text-small;

    color: $color-black;
    display: block;
    padding: 20px 20px 20px 20px;
    transition: color $anim-time-repaint;
    white-space: nowrap;

    &:hover {
      color: $color-lipstick;
    }

    @include screenMobile {
      font-size: 16px;
      height: $size-main-title-height-mobile;
      line-height: $size-main-title-height-mobile;
      padding-bottom: 0;
      padding-top: 0;
    }
  }
}
