// Components

$size-paratii-components-asset--1: 480px;
$size-paratii-components-asset--1-mobile: 450px;

//

.paratii-components {
  padding-bottom: 100px;

  @include screenPhablet {
    padding-bottom: 65px;
  }

  @include screenMobileMax {
    padding-bottom: 40px;
  }

  &-content {
    padding: 100px 0;

    @include screenTablet {
      padding: 0;
    }

    &--color {
      background-color: $color-bluish-purple;
      color: $color-white;
      margin: 80px 0;

      @include screenTablet {
        margin: 110px 0;
        padding: 60px 0;
      }

      @include screenPhablet {
        margin: 70px 0;
        padding: 60px 0;
      }
    }

    &-wrapper {
      display: flex;
      position: relative;

      .paratii-components-content--color & {
        flex-direction: row-reverse;
      }
    }
  }

  //

  &-entry {
    width: 46%;

    @include screenPhablet {
      width: 100%;
    }

    &-title {
      @extend .title-small;

      align-items: center;
      display: flex;
      margin: 0 0 20px;
    }

    &-text {
      @extend .text-main;
    }


    .main-social-link {
      display: inline-block;
      margin-right: 10px;
    }
    .main-social-svg {
      fill: $color-black;
    
      .paratii-components-content--color & {
        fill: $color-white;
      }
    }
  }

  //

  &-asset {
    background: no-repeat 50% 50%;
    background-size: cover;
    right: 0;
    position: absolute;
    top: 50%;
    transform: translate3d(0, -50%, 0);

    @include screenPhablet {
      display: none;
    }

    .paratii-components-content--color & {
      left: 0;
      right: auto;

      @include screenTablet {
        left: 20px;
      }
    }

    &--0 {
      height: 500px;
      width: 618px;

      @include screenTablet {
        height: 415px;
        width: 555px;
      }
    }

    &--1 {
      background-color: $color-white;
      border: 2px dotted $color-purple-light;
      border-radius: 100%;
      box-shadow: 0 0 20px 0 $box-shadow-color;
      height: $size-paratii-components-asset--1;
      overflow: hidden;
      width: $size-paratii-components-asset--1;

      @include screenTablet {
        height: $size-paratii-components-asset--1-mobile;
        width: $size-paratii-components-asset--1-mobile;
      }
    }

    &--2 {
      height: 570px;
      width: 630px;

      @include screenTablet {
        height: 450px;
        width: 580px;
      }
    }
  }

  &-video {
    height: 100%;
    width: 100%;

    @include screenPhablet {
      display: none;
    }
  }

  &-svg {
    @extend .full-block;
  }

  use {
    @extend .full-block;   
  }
}