// About

//

$zindex-paratii-header-after: 1;
$zindex-paratii-header-bg: 2;
$zindex-paratii-header-assets: 3;
$zindex-paratii-header-small: 4;
$zindex-paratii-header-content: 5;
$zindex-paratii-header-buttons: 6;

 // Fix :-webkit-autofill 

@-webkit-keyframes autofill {
    to {
        color: $color-white;
        background: transparent;
    }
}

//

.paratii-header {
  align-items: center;
  color: $color-white;
  display: flex;
  height: calc(70vh + #{$size-main-title-height});
  min-height: 600px + $size-main-title-height;
  overflow: hidden;
  position: relative;

  @include screenPhablet {
    height: calc(80vh + #{$size-main-title-height});
  }

  @include screenMobile {
    height: initial;
    min-height: initial;
    padding: ($size-main-header-bg-mobile + 40) 0 ($size-main-header-bg-mobile + 40);
  }

  @include screenMobileMax {
    padding: 40% 0 ($size-main-header-bg-mobile + 40);
  }

  //

  &-bg {
    @extend .pos-a-t;

    background-image: linear-gradient(to bottom,$color-violet-blue, #3f0e80);
    height: 100%;
    left: -220px;
    min-width: 1000px;
    transform: skew(-45deg);
    width: 92%;
    z-index: $zindex-paratii-header-bg;

    @include screenMobile {
      left: -400px;
      width: 100%;
    }

    &::before {
      @extend .full-block;

      background: url('/dist/assets/images/bg-pattern.png');
      content: '';
    }
  }

  &::after {
    @extend .pos-a-t;

    background-image: linear-gradient(to bottom,$color-purply-blue, #3f0e80);
    content: '';
    height: calc(100% - 15px);
    left: 0;
    width: 100%;
    z-index: $zindex-paratii-header-after;
  }

  //

  &-content {
    position: relative;
    z-index: $zindex-paratii-header-content;
  }

  &-title {
    @extend .title-big;

    max-width: 700px;
    margin: 30px 0 30px;

    @include screenPhablet {
      margin-top: 130px;
    }

    @include screenMobile {
      margin-top: 0;
    }
  }

  &-text {
    @extend .text-main;

    max-width: 500px;

    @include screenMobile {
      max-width: initial;
    }
  }

  //

  &-subscribe {
    display: flex;
    margin: 70px 0 0;
    max-width: 500px;
    position: relative;
    width: 100%;
    z-index: $zindex-paratii-header-buttons;
    
    @include screenPhablet {
      margin: 50px 0;
    }
    
    @include screenMobile {
      flex-direction: column;
    }

    .paratii-button {
      margin-right: 25px;
    
      @include screenMobile {
        margin: 0 0 25px;
      }
    }
  }

  &-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  &-label {
    flex: 0 0 60%;

    @include screenPhablet {
      flex: 0 0 100%;
      margin-bottom: 50px;
    }
  }

  &-input {
    @extend .text-main;

    background: none;
    border-bottom: 1px solid $color-white;
    color: $color-white;
    padding: 15px 2px 16px;
    width: 100%;

    &:-webkit-autofill {
      animation-name: autofill;
      animation-fill-mode: both;
      font-size: 1rem; // 18px
      font-weight: $font-regular;
      line-height: 1.7;

      @include screenTablet {
        font-size: 1rem;
      }

      @include screenPhablet {
        font-size: 1.1rem;
      }

      @include screenMobileMax {
        font-size: 0.8rem;
      }
    }
    
    &::placeholder {
      color: $color-white;
      opacity: $anim-opacity-value;
      font-size: 1rem; // 18px
      font-weight: $font-regular;
      line-height: 1.7;

      @include screenTablet {
        font-size: 1rem;
      }

      @include screenPhablet {
        font-size: 1.1rem;
      }

      @include screenMobileMax {
        font-size: 0.8rem;
      }
    }
  }

  &-button {
    @include screenMobile {
      display: inline;
      width: 100%;
    }
  }

  //

  &-small {
    @extend .pos-a-b;
    @extend .text-tiny;

    max-width: 480px;
    right: 20px;
    transform: translate3d(0, 200%, 0);
    z-index: $zindex-paratii-header-small;

    @include screenTablet {
      transform: translate3d(0, 0, 0);
    }

    @include screenPhablet {
      max-width: initial;
      left: 0;
      position: relative;
      right: auto;
      text-align: left;
      transform: translate3d(0, 0, 0);
      width: 100%;
    }

    @include screenMobile {
    }
  }

  //

  &-asset {
    @extend .pos-a-h;

    background: no-repeat 50% 50%;
    height: 1000px;
    left: 200px;
    transform: translate3d(0, -55%, 0);
    width: 1520px;
    z-index: $zindex-paratii-header-assets;
    
    @include screenMobile {
      display: none;
    }
  }
}