// Typography

$font-family: 'sofia-pro', monospace;
$font-bold: 600;
$font-regular: 300;

//

html {
  font-size: 18px;
}

body {
  color: $color-black;
  font-family: $font-family;
  font-size: 1rem;
  line-height: 36px;
  font-weight: $font-regular;
  // text-rendering: geometricPrecision;
}

h1, h2, h3, h4, h5, h6, strong {
  font-weight: $font-bold;
}

// Titles

.title-big {
  font-size: 2.7rem; // 50px
  font-weight: $font-bold;
  line-height: 1.2;
}

.title-main {
  font-size: 2.1rem; // 38px
  font-weight: $font-bold;
  line-height: 1.5;
}

.title-small {
  font-size: 1.5rem;  // 28px
  font-weight: $font-bold;
  line-height: 1.6;
}

// Texts

.text-big {
  font-size: 1.3rem;
  font-weight: $font-regular;
  line-height: 1.5;
}

.text-main {
  font-size: 1rem; // 18px
  font-weight: $font-regular;
  line-height: 1.7;

  @include screenPhablet {
    font-size: 1.1rem;
  }
}

.text-small {
  font-size: 0.7rem; // 14px
  font-weight: $font-regular;
  line-height: 1.6;

  @include screenPhablet {
    font-size: 1.1rem;
  }

  @include screenPhablet {
    font-size: 1.1rem;
  }
}

.text-tiny {
  font-size: 0.61rem; // 11px
  font-weight: $font-regular;
  line-height: 1.8;

  @include screenPhablet {
    font-size: 0.7rem;
  }
}