// Links

.aroundtheblock-footer {
    background-color: $color-blue-dark;

    &-list {
        text-align: center;
    }

    &-item {
        display: inline-block;
        width: 8vw;

        @include screenphablet {
            width: 15vw;
        }
    }

    &-link {
        display: block;
        transition: opacity .25s;

        &:hover {
            opacity: .8;
        }
    }

    &-svg {
        transition: transform .3s $ease-smooth;
        width: 50%;

       .aroundtheblock-footer-link:hover & {
        transform: scale(.95);
       } 
    }
}