// Main layout

html, body {
    width: 100%;
}

body {
    background-color: $color-blue-dark;

    &.no-scroll {
        height: 100vh;
        overflow: hidden;
    }
}

// Subtitle

.around-copyright {
    @extend .font-text;

    font-weight: 300;
    left: -4.3vw;
    position: fixed;
    top: 50%;
    transform: translate3d(0, -50%, 0) rotate(-90deg);
    z-index: $zindex-copy;

    @include screenphablet {
        display: none;
    }

    a {
        @extend .font-text;

        color: $color-purple-light;
        font-weight: 700;
        transition: color .2s;

        &:hover {
            color: $color-green;
        }
    }
}

// Main content

.around-main {
    padding-top: $size-height-mainheader / 2;
}

// Subscribe and Discover

.split {
    @extend .clearfix;

    background-color: $color-blue-light;
    overflow: hidden;
}